{% extends "main/base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock css %}

{% block content %}
    <h2 class="mt-5 pt-5"><strong>{{ content }}</strong></h2>
    <p class="pt-4">{{ text_on_page }}</p>
{% endblock content %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">'Chaplin' &copy; Магазин одежды</p>
    </div>
</footer>
{% endblock footer %}